* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 12px;
  font-family: sans-serif;
  padding: 20px;
}

.list {
  border: 1px solid #ccc;
  height: 200px;
  overflow: auto;
  width: 300px;
}

img {
  float: left;
  margin: 0 10px 10px 0;
  width: 25px;
}

textarea {
  height: 75px;
  width: 300px;
}

.list li {
  list-style: none;
  overflow: hidden;
  padding: 10px;
}