<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Slidr</title>
        <link rel="stylesheet" href="/stylesheets/base.css" type="text/css">
    </head>

    <body>
        <%- body %>
    </body>
</html>
